body{
  background:#121213;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}

.container{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:30px;
}

.camera-box{
  border:2px solid white;
  padding:10px;
}

video{
  width:400px;
  border-radius:10px;
}

.game-box{
  width:400px;
}

#currentWord{
  font-size:50px;
  letter-spacing:10px;
  margin-top:20px;
  min-height:60px;
}

button{
  margin-top:20px;
  padding:10px 20px;
  cursor:pointer;
}